* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5em;
  color: #9da5af;
  background-color: #0a1f38;
  
  &.hidden {
    overflow: hidden;
  }
}

h1 {
  font-size: 104px;
  font-style: normal;
  font-weight: 900;
  line-height: 104px;
  color: #fff;
  
  @media (max-width: 1690px) {
  
  }
  
  @media (max-width: 1365px) {
    text-align: center;
  }
  
  @media (max-width: 767px) {
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 64px; /* 106.667% */
  }
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 150% */
  color: #fff;
  
  @media (max-width: 767px) {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 112.5% */
    text-align: left;
  }
}

.row {
  max-width: 1600px;
  padding-right: 160px;
  padding-left: 160px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: content-box;
  
  @media (max-width: 1690px) {
    padding-right: 80px;
    padding-left: 80px;
  }
  
  @media (max-width: 1365px) {
    padding-right: 40px;
    padding-left: 40px;
  }
  
  @media (max-width: 767px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}


.link {
  color: #B1C909;
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
  cursor: pointer;
  text-decoration: none;
  
  @media (max-width: 767px) {
    font-size: 14px;
    line-height: 24px; /* 171.429% */
  }
  
  &:hover {
    color: #fff;
    transition: all linear 0.3s;
  }
}
